@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #35495e;
  --secondary: #3b8070;
  --light: rgb(156, 156, 156);
  --background: #3c3e3f
;
}

body{
  background-color: var(--background);
}

.nuxt-link-exact-active {
  color: var(--secondary);
} 
